<header>Book was successfully created.</header>
<main>
  <div class="book-title">title</div>
   <p>
     <%= @book.title %>
   </p>
  <div class="book-text">body</div>
  <p>
    <%= @book.body %>
  </p>
  <%=link_to "Edit", edit_book_path(@book) %>
  <%=link_to "destroy", book_path(@book), method: :delete %>
</main>
